<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="508451380564-sa7kuvj2dkd1hv3l8rcr0d34278vcpcp.apps.googleusercontent.com">
    <title>@ViewData["Title"] - NoteBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Вход</h3></div>
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/Home/Register">Нету аккаунта? Зарегистрируйтесь!</a></div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; NoteBook 2021</div>
                        <div>
                            @ViewBag.Message
                            &middot;
                            @ViewBag.Data
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>        
        @RenderSection("Scripts", required: false)
</body>
</html>
